<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{admin.email}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/admin/profile">Add Doctor</a></li>
        
       
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/list">view Doctor</a></li>
           <li ><a href="/patient/prlist">View Patients</a></li>
        <li><a href="/patient/list">view Appointments</a></li>
      <li><a href='/admin/logout'>Logout</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div style="padding-left: 280px; ">
<h1>Add Doctor</h1>
<form action="/admin/profile" method="post">
 <input type="hidden" name="_id" value="{{admin._id}}">  
 <div  class="col-sm-8 offset-md-6" style="background-color: rgb(13, 15, 15);margin-top: 25px;padding-bottom:80px;">
            <div class="form-group">
                <label for="fullname">fullname</label>
                <input type="text"  placeholder="fullname" name="fullname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text"  placeholder="email" name="email" class="form-control">
            </div>
              <div class="form-row">
                   <div class="form-group col-md-6">
                <label for="mobile">mobile</label>
                <input type="text" placeholder="mobile" name="mobile" class="form-control">
            </div>
               <div class="form-group col-md-6">
                <label for="city">city</label>
                <input type="text" placeholder="city" name="city" class="form-control">
            </div>  
         <div class="form-group col-sm-6">
      <label for="specified">specified</label>
      <select id="specified" class="form-control"  name="specified">
        <option selected>choose..</option>
      <option value="Gynaecology">Gynaecology</option>                                    
			<option value="Haematology">Haematology</option>
     <option value="Nephrology">Nephrology</option>
			<option value="Neurology">Neurology</option>
       <option value="Oncology">Oncology</option>
	    	<option value="Ophthalmology">Ophthalmology</option>
        <option value="Orthopaedics">Orthopaedics</option>
        </div>
      </select>
    </div>
            <div class="form-group col-md-4 clearfix " style="padding-Top: 20px;padding-left:60px;" > 
            <button type="submit" class="btn btn-primary pull-left ">ADD</button>
            </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
