
<div class=" row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Admin Sign Up</h1>
        {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/admin/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <br>
            <p>Already have an account! <a href="/admin/signin">Sign In instead</a></p>
            </br>
    </div>
</div>