<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container" style="float: none;">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>lorem ipsum consectetur</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">lorem ipsum consectetur </a></li>
            <li><a href="#">lorem ipsum consectetur Directory</a></li>
           
            <li><a href="#">lorem ipsum consectetur  </a></li>
            <li><a href="#">lorem ipsum consectetur</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>lorem ipsum consectetur</h4>
          <ul class="list-unstyled">
            <li><a href="#">lorem ipsum consectetur </a></li>
            <li><a href="#"> ipsum consectetur</a></li>
            <li><a href="#">lorem ipsum </a></li>
            <li><a href="#"> ipsum consectetur</a></li>
            <li><a href="#">lorem  consectetur</a></li>
            <li><a href="#">lorem ipsum consectetur</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>lorem ipsum consectetur</h4>
          <ul class="list-unstyled">
            <li><a href="#">lorem ipsum consectetur</a></li>
            <li><a href="#">lorem ipsum consectetur</a></li>
            <li><a href="#">lorem ipsum </a></li>
            <li><a href="#">lorem</a></li>
            
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
           
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2018 -eDoctor.  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>
  