

{{!-- .................. --}}

<nav class="nav navbar-default navbar-fixed-top">
    <div class="header">
  <a href="/" class="logo">eDoctor</a>
  <div class="header-right">
    <a class="link" href="/patient/profile">Booking</a>
     <a class="link1" href="/patient/list/">My Booking</a>
    <a class="link2"href="/patient/myprofile">My Profile</a>
    <a class="link3" href="/patient/logout">Logout</a>
  </div>
</div>
</nav>