
{{>header}}
<div class="container">

<div class=" row">
    <div style="padding-left: 280px; padding-top:120px">
   <div  class="col-sm-8 offset-md-6" style="background-color: rgb(13, 15, 15);margin-top: 25px;padding-bottom:20px;padding-top:20px">
        <h1>My Details</h1>
        
       
        <form action="/doctor/signup" method="post">
 <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-3 col-form-label">Name</label>
    <div class="col-md-6">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.name}}">
    </div>
  </div>
 <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-3 col-form-label">Email</label>
    <div class="col-md-6">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.email}}">
    </div>
  </div>
  </div>
  </div>
 </form>
 {{>footer}}
       