
{{!-- new --}}


<div class="doctor">
        <div class="header">
            <div class="logo">
<a class="a" href="/">eDoctor</a>
            </div>
       
            </div>

        </div>
   





<div class="container">    
        
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        <div class="row">                
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#git"></use>
                </g>
              </svg>
            </div>
        </div>
        
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Hello Doctor</div>
            </div>     

            <div class="panel-body" >
                   {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}

                <form name="form" id="form" class="form-horizontal"  action="/doctor/signup" method="post">
                  
                   <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  type="name" class="form-control" name="name" placeholder="Name" required>
                    </div> 

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input  type="email" class="form-control"  name="email" value="" placeholder="email" required>                                        
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input  type="password" class="form-control" minlength="4" maxlength="15" name="password" placeholder="password" required>
                    </div>     

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        <input  type="string" class="form-control" name="mobile" placeholder="mobile"  required>
                    </div> 

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                        <input  type="text" class="form-control" name="city" placeholder="city">
                    </div>  

                     <div class="input-group">
                       
       <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
      <select id="blood" class="form-control"  name="blood" >
        <option selected>Nil..</option>
        <option >o+</option>
        <option>o-</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>AB+</option>
        <option>AB-</option>
        </div>
      </select>
    </div>      


    <div class="input-group">
      <label for="specified">specialized</label>
      <select id="specified" class="form-control"  name="specialized" required>
        <option selected>Nil..</option>
       	<option value="Gynaecology">Gynaecology</option>                                    
				<option value="Haematology">Haematology</option>
         <option value="Nephrology">Nephrology</option>
				<option value="Neurology">Neurology</option>
         <option value="Oncology">Oncology</option>
				<option value="Ophthalmology">Ophthalmology</option>
       <option value="Orthopaedics">Orthopaedics</option>
        </div>
      </select>
    </div>                                                         
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> signup</button>                          
                        </div>
                    </div>
                </form>     
 <p>Don't have an account? <a href="/doctor/signin">Sign In instead</a></p>
            </div>                     
        </div>  
    </div>
</div>



 {{>footer}}