 <div class="container"></div>

<div class=" row">
    <div style="padding-left: 280px; ">
   <div  class="col-sm-8 offset-md-6" style="background-color: rgb(13, 15, 15);margin-top: 25px;padding-bottom:20px;padding-top:20px">
        <h1>Patient Sign Up</h1>
          {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
       
        <form action="/patient/signup" method="post">
        <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
                 <div class="form-row">
                   <div class="form-group col-md-6">
                <label for="mobile">mobile</label>
                <input type="text" placeholder="mobile" name="mobile" class="form-control">
            </div>
               <div class="form-group col-md-6">
                <label for="city">city</label>
                <input type="text" placeholder="city" name="city" class="form-control">
            </div>  
         <div class="form-group col-md-6">
      <label for="blood">Blood-group</label>
      <select id="blood" class="form-control"  name="blood">
        <option selected>Nil..</option>
        <option >o+</option>
        <option>o-</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>AB+</option>
        <option>AB-</option>
        </div>
      </select>
    </div>   
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <br>
            <p>Already have an account! <a href="/patient/signin">Sign In instead</a></p>
            </br>
            </div>
            </div>
    </div>
</div>
</div>
